body {
    font-family: "Montserrat", serif;
    margin: 20px;
    color: #1b1d1f;
    background-color: #2c3ab9;
}
 
.list-page{
    list-style-type: none;
}
 
.main-page-list{
    background: #fff;
    width: 200px;
    border-radius: 10%;
    padding: 10px 20px;
}

a{
    text-decoration-line: none;
    color: #1b1d1f;
    font-style: italic;
    padding: 10px;
}

.about-text{
    background: #fff;
    width: 900px;
    height: 900px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.articles-text{
    background: #fff;
    width: 900px;
    height: 500px;
    border-radius: 3%;
    padding: 20px 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.contact{
    background: #fff;
    width: 200px;
    border-radius: 10%;
    padding: 10px 20px;
    margin-top: 15px;
}

.form-mood{
    background: #fff;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form{
    width: 100px;
    height: 200px;
    border-style: unset;align-items: baseline;
}

.gallery-text{
    text-align: center;
    color: #fff;
}

.main-page-text2{
    text-align: center;
    color: #fff;
}

.footer{
    text-align: left;
    color: #fff;
    margin-top: 10px;
}

.container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
}

.img-coffee{
    text-align: left;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    margin: 40px 10px 40px 10px;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
}

.img-music{
    text-align: left;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    margin:40px 10px 40px 10px;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
}

.img-style{
    text-align: left;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    margin:40px 10px 40px 10px;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
}

.img-cake{
    text-align: left;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    margin:40px 10px 40px 10px;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
}

.img-lilly{
    text-align: left;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    margin:40px 10px 40px 10px;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
}

.img-glass{
    text-align: left;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    margin:40px 10px 40px 10px;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
}
